.main-space {
    width: 100%;
    height: calc(var(--alphabeth-dp) * 5);
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: height var(--transition-duration);
}

.main-space>img {
    max-width: 90%;
    max-height: 90%;
}

@media screen and (orientation:landscape) {
    .main-space{
        height: calc(var(--alphabeth-dp) * 6);
    }

    @media(max-height: 480px) {
        .main-space{
            height: calc(var(--alphabeth-dp) * 6 + var(--bar-size) * 0.2);
        }
    }
}

