.main-space {
    width: 100%;
    height: calc(var(--alphabeth-dp) * 5);
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: height var(--transition-duration);
}

.letter-background {
    width: 100%;
    height: 100%;
    color: #0003;
    position: absolute;
    font-size: 40vmin;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main-space:hover>.alphabeth-back-button {
    left: calc(0px - var(--bar-size) + var(--spacing-small));
}

.alphabeth-back-button {
    width: var(--bar-size);
    height: var(--bar-size);
    background-color: var(--color-primary-light);
    left: calc(0px - var(--bar-size));
    border-radius: 0 var(--spacing-small) var(--spacing-small) 0;
    position: absolute;
    z-index: 9;
    transition: left var(--transition-duration);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--bar-size) * 0.6);
    padding-bottom: var(--spacing-small);
}

.main-space:hover>.alphabeth-back-button:hover {
    left: 0;
}

.main-space>img {
    max-width: 90%;
    max-height: 90%;
    z-index: 3;
}

@media screen and (orientation:landscape) {
    .main-space {
        height: calc(var(--alphabeth-dp) * 6);
    }
    @media(max-height: 480px) {
        .main-space {
            height: calc(var(--alphabeth-dp) * 6 + var(--bar-size) * 0.2);
        }
    }
}