.letter-list-item {
    width: var(--bar-size);
    height: var(--bar-size);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    transform: rotate(90deg);
}